/* OUR STYLE COLORS */

:root {
  --our-purple: #a278d7; /* Define your purple color as a variable */
  --correct-green: #78d7a1;
  --wrong-red: #df7584;
  

}

/*Three Font Sizes*/



/* All */
.nav-bar{
  padding-top: 15px;
}
.logo-container {
  position: relative;
  display: inline-block;
}
.logo-navbar {
  padding-left: 60px;
}

.logo-navbar-image {
  height: 65px;
  width: auto;
}

.logo-title {
    position: absolute;
    top: 50%;  /* Center vertically */
    left: 120%;  /* Center horizontally */
    transform: translate(-50%, -50%);  /* Adjust based on actual size of the image */
    color: #a278d7;
    font-size: 25px; 
}
.nav-link{
  display: flex;
  margin-left: 40px;
}

/* Homepage */

.homepage-bio {
  font-size: 37px;
  font-weight: bold;
  padding-bottom: 120px;
  margin-right: 100px;
}

.get-started-button {
  width: 60%;
  border: 1px solid;
  padding: 15px;
  display: block;
  text-align: center;
  background-color: #a278d7;
  border-color: #a278d7;
  margin-right: 115px;
  color: white;
  border-radius: 15px;
  font-weight: bold;
}
.get-started-button:hover{
  background-color: white;
  color: #a278d7;
}

/* Explore Page */
.hola{
  padding-bottom: 30px;
  margin-top: -20px;
}
.explore-page{
    margin-bottom: 50px;
}

.explore-title {
  font-size: 60px;
  font-weight: bold;
  background: linear-gradient(to left, #a278d7, rgb(53, 182, 222), rgb(255, 0, 255));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.explore-all-title{
    font-size: 20px;
    font-weight: bold;
    color: #a278d7;
}
.explore-all-button{
    width: 30%;
    border: 1px solid #a278d7;
    padding: 10px;
    display: block;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #a278d7;
    border-radius: 15px;
    font-size: 30px;
    font-weight: bold;
    color: #a278d7;

}
.explore-all-button:hover{
  background-color: #a278d7;
  color: white;
}

.explore-country-button{
    width: 300px;
    border: 1px solid #a278d7;
    border-radius: 15px;
    padding: 20px;
    display: block;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: var(--our-purple);
    
}
.explore-country-button:hover{
  background-color: #a278d7;
  color: white;
}
.explore-quiz-button{
    width: 20%;
    border: 1px solid ;
    padding: 20px;
    display: block;
    background-color: #a278d7;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 20px;

}
.explore-quiz-button:hover{
  background-color: white;
  color:#a278d7;
}



/* Learning Page */
.header-container{
  text-align: center;
  display: flex;
}
.next-button{
  border: 1px solid;
  width: 20%;
  padding: 15px;
  display: block;
  text-align: center;
  background-color: #a278d7;
  margin: 0 auto;
  border-radius: 10px;
  border-color: #a278d7;
  color: white;
  font-weight: bold;
}
.next-button:hover{
  background-color: white;
  color: #a278d7;
}
.next-button-text{
  color: white;
  font-weight: bold;
}

.country-title {
  padding: 10px;
  text-align: center;
  background: linear-gradient(to left, #a278d7, rgb(53, 182, 222), rgb(255, 0, 255));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 60px;
  font-weight: bold;

}
.section-tracker{
  margin-top:15px; 
  color: rgb(53, 182, 222);
  font-size: 25px;
}
.bold-counter{
  color: #a278d7;
}
.country-image {
  width: 300px;
  height: 300px;
  margin-left: 40px;
}
.learn-container {
  margin: 0 auto;
  display: flex;
  padding: 30px;

}
.audio-button{
    margin-top: 50px;
}
.learn-audio-container{
  text-align: center;
  max-height: 400px;
  min-height: 400px;


}
.tips-container{
  padding:40px;
}
/* Quiz Page */

.edit-h1{
  text-align: center;
  background: linear-gradient(to left, #a278d7, rgb(53, 182, 222), rgb(255, 0, 255));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 30px;


}
.header-container-quiz{
  display: flex;
}

.quiz_container {
  margin-top: 50px;
  display: flex;
  text-align: center;
}

.option-top-margin{
  margin-top: 40px;
}
.quiz-image {
  flex: 1; /* Allocates space for the image */
  max-width: 300px; /* Maximum width for the image */
}
.img-fluid.size_of_soundwave_image {
  max-width: 250px;  /* Maximum width of the image */
  margin: 0 auto;  /* Centers the image horizontally */
  margin-top: 55px; /* Provides top margin */
  display: block;  /* Ensures the image behaves as a block element */
}
.quiz-audio-button{
  margin-left: 95px;
  margin-top: 50px;
}




.audio-link-right-shift {
  padding-left: 20px;  /* Or any other value that suits your layout */
}



.feedback {
    font-size: 1.2em;
    color: red;  /* or a suitable color based on correct (green) or incorrect (red) */
    margin-top: 20px;
}



.score-container {
  text-align: right;
  padding-right: 20px;
  font-size: 20px;
  font-weight: bold;
}

.btn-center {
  margin-top: 50px;
  margin-left: 265px;  /* This will center the button inside its container */
}
.section-tracker-quiz{
  margin-top:15px; 
  color: rgb(53, 182, 222);
  font-size: 25px;
  text-align: center;
}
.section-tracker-quiz-text{
  margin-top: 35px;
  padding-right: 60px;
}
.score-and-question{

}
.score-and-question-text{
  margin-top:35px; 
  color: rgb(53, 182, 222);
  font-size: 25px;
  text-align: center;
}

.score-and-question {
  display: flex;
  justify-content: space-around;
  padding: 5px 20px;
  font-size: 16px;
  font-weight: bold;
}
.score-and-question > div {
  margin-right: 10px;
}

/* BOTTOM CONTAINER W NEXT AND FEEDBACK*/
.next-button-style-submit {
  padding: 20px 150px;  /* Change size of the button */
  color: white;  /* Text color */
  background-color:#a278d7;
  border-radius: 15px;
  border-color: var(--our-purple);
  margin-top: 80px;
  margin-left: 30px;
  font-weight: bold;
}
.next-button-style-next{
  padding: 20px 150px;  /* Change size of the button */
  color: white;  /* Text color */
  background-color:#a278d7;
  border-radius: 15px;
  border-color: var(--our-purple);
  margin-top: 80px;
  margin-left: 30px;
  font-weight: bold;

}
.next-and-submit-container{
  text-align: center;
  margin: 0 auto;
  margin-top: -50px;
  margin-right: 200px;
}
.feedback-and-next{
  display: flex;
  padding-bottom: 30px;
}





/* Feedback directly below the Next button */
.feedback-style {
  margin-top: 10px;  /* Space above the feedback message */
  width: 100%;  /* Feedback takes full width of its container */
}

.correct-feedback {
  background-color: var( --correct-green);  /* Color for correct answers */
 
 
}

.incorrect-feedback {
  background-color: var( --wrong-red);  /* Color for incorrect answers */
}

/* MULTIPLE CHOICE IN QUIZ*/
.option-button {
  border: 1px solid #a278d7; /* more concise border color definition */
  width: 200px; /* fixed width */
  height: 240px; /* fixed height, making it taller than it is wide */
  padding: 20px;
  
  display: block;
  text-align: center;
  background-color: white;
  margin: 30px auto; /* adjusted margin for spacing and centered alignment */
  border-radius: 10px;
  color: #a278d7;
  font-weight: bold;
  font-size: 25px; /* adjusted font size for better fit within the button */
}



.option-button:hover{
  background-color:#a278d7;
}



/* Score Page */
.score-box{
    width: 60%;
    height: 600px;
    border-top-left-radius: 12%;
    border-top-right-radius: 12%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    border: 1px;
    padding: 15px;
    display: block;
    text-align: center;
    background-color: rgb(227, 219, 219);
}

.score-image-pass{
    padding-top: 40px;
    width: 12%;
    padding-bottom: 30px;
}

.score-image-fail{
    width: 30%;
}

.score-text-box{
    width: 60%;
    height: 175px;
    border: 1px ;
    align-items: left;
}

.score-statement{
    font-weight: bold;
    font-size: 35px;
}

.score-text{
    font-size: 25px;
    font-weight: lighter; 
}

.restart-exit-button{
    width: 60%;
    border: 1px;
    padding: 15px;
    display: block;
    text-align: center;
    background-color: #a278d7;
}

.restart-exit-title{
    font-weight: bold;
    color: white;
}