/* All */
.logo-navbar {
  padding-left: 60px;
}

.logo-navbar-image {
  height: 65px;
  width: auto;
}

.logo-title {
  font-size: 40px;
  color: #a278d7;
}

/* Homepage */

.homepage-bio {
  font-size: 37px;
  font-weight: bold;
  padding-bottom: 50px;
}

.get-started-button {
  width: 60%;
  border: 1px solid;
  padding: 15px;
  display: block;
  text-align: center;
  background-color: #a278d7;
}
.get-started-title {
  color: white;
  font-weight: bold;
}
/* Explore Page */
.explore-page{
    margin-bottom: 50px;
}

.explore-title {
  font-size: 60px;
  font-weight: bold;
  color: black;
}
.explore-all-title{
    font-size: 40px;
    font-weight: bold;
    color: #a278d7;
}
.explore-all-button{
    width: 40%;
    border: 1px solid #a278d7;
    padding: 20px;
    display: block;
    text-align: center;

}
.explore-country-button{
    width: 300px;
    border: 1px solid #a278d7;
    padding: 30px;
    display: block;
    text-align: center;
}
.explore-country-title{

    font-size: 25px;
    font-weight: bold;
    color: #a278d7;
}

.explore-quiz-button{
    width: 10%;
    border: 1px solid ;
    padding: 20px;
    display: block;
    background-color: #a278d7;
    text-align: center;
}

.explore-quiz-title{
    color: white;
    font-weight: bold;
    font-size: 20px;
}

/* Learning Page */
.header-container{
  text-align: center;
  display: flex;
}
.next-button{
  border: 1px solid;
  width: 20%;
  padding: 15px;
  display: block;
  text-align: center;
  background-color: #a278d7;
  margin: 0 auto;
  border-radius: 10px;
  border-color: #a278d7;
}
.next-button-text{
  color: white;
  font-weight: bold;
}
.country-title {
  padding: 10px;
  text-align: center;
  background: linear-gradient(to left, #a278d7, rgb(53, 182, 222), rgb(255, 0, 255));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-size: 50px;
  font-weight: bold;

}
.section-tracker{
  margin-top:15px; 
  color: rgb(53, 182, 222);
  font-size: 25px;
}
.bold-counter{
  color: #a278d7;
}
.country-image {
  width: 300px;
  height: 300px;
}
.learn-container {
  margin: 0 auto;
  display: flex;
  padding: 30px;

}
.audio-button{
    margin-top: 50px;
}
.learn-audio-container{
  text-align: center;
  max-height: 400px;
  min-height: 400px;


}
.tips-container{
  padding:40px;
}
/* Quiz Page */


.quiz_container {
  display: flex;
  justify-content: space-between; /* Aligns children to each side of the container */
  align-items: center; /* Center align children vertically */
  height: 100vh; /* Optional: Takes full viewport height */
  padding: 20px; /* Adds some padding around the content */
}

.quiz-image {
  flex: 1; /* Allocates space for the image */
  max-width: 300px; /* Maximum width for the image */
}

.quiz-content {
  flex: 2; /* More space allocated to quiz content */
  text-align: center; /* Centers the text inside the content box */
  padding: 20px; /* Padding inside the content box */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Optional: Adds shadow for better focus */
  border-radius: 10px; /* Optional: Rounds the corners */
  max-width: 600px; /* Maximum width of the content box */
}

.img-fluid.size_of_soundwave_image {
  max-width: 250px; /* Maximum width of the image */
  margin: 0 auto; /* Centers the image horizontally */
  margin-top: 55px;
  display: block; /* Ensures the image behaves as a block element */
}
.option-button {
  max-width: 180px; /* Set the maximum width you prefer */
  margin: 0 auto; /* Centers the button in the column */
  display: block; /* Necessary to allow margin: auto to center the button */
}



.feedback {
    font-size: 1.2em;
    color: red;  /* or a suitable color based on correct (green) or incorrect (red) */
    margin-top: 20px;
  }
  


/* Score Page */
.score-box{
    width: 60%;
    height: 600px;
    border-top-left-radius: 12%;
    border-top-right-radius: 12%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    border: 1px;
    padding: 15px;
    display: block;
    text-align: center;
    background-color: rgb(227, 219, 219);
}

.score-image-pass{
    padding-top: 40px;
    width: 12%;
    padding-bottom: 30px;
}

.score-image-fail{
    width: 30%;
}

.score-text-box{
    width: 60%;
    height: 175px;
    border: 1px ;
    align-items: left;
}

.score-statement{
    font-weight: bold;
    font-size: 35px;
}

.score-text{
    font-size: 25px;
    font-weight: lighter; 
}

.restart-exit-button{
    width: 60%;
    border: 1px;
    padding: 15px;
    display: block;
    text-align: center;
    background-color: #a278d7;
}

.restart-exit-title{
    font-weight: bold;
    color: white;
}