/* All */
.logo-navbar {
    padding-left: 60px;
}

.logo-navbar-image {
  height: 65px;
  width: auto;
}

.logo-title {
  font-size: 40px;
  color: #a278d7;
}

/* Homepage */

.homepage-bio{
    font-size: 37px;
    font-weight: bold;
    padding-bottom: 50px;
}

.get-started-button {
  width: 60%;
  border: 1px solid;
  padding: 15px;
  display: block;
  text-align: center;
  background-color: #a278d7;
}

.get-started-title{
    color: white;
    font-weight: bold;
}
/* Explore Page */
.explore-title{
    font-size: 60px;
    font-weight: bold;
    color: black;
}



/* Learning Page */


/* Quiz Page */

.size_of_soundwave_image{
  width: 100%;      /* Makes the image responsive to its container's width */
    max-width: 250px; /* Maximum width of the image */
    height: auto;

}
