{% extends "layout.html" %}

{% block content %}

<div class="row d-flex flex-column align-items-center justify-content-center text-center hola">
    <span class="explore-title">
        Explore Countries
    </span>
</div>

<div class="row d-flex flex-column align-items-center justify-content-center text-center explore-page">
    <a class="btn explore-all-button" href="/learn/1">
            Learn All
    </a>  
</div>

<div class="row d-flex justify-content-center text-center explore-page">
    <div class="col-md-4 d-flex flex-column align-items-center justify-content-center text-center">
        <a class="btn explore-country-button" href="/learn/1">
                Colombia 🇨🇴
        </a>  
    </div>
    <div class="col-md-4 d-flex flex-column align-items-center justify-content-center text-center">
        <a class="btn explore-country-button" href="/learn/2">
                Venezuela 🇻🇪
        </a>  
    </div>
    <div class="col-md-4 d-flex flex-column align-items-center justify-content-center text-center">
        <a class="btn explore-country-button" href="/learn/3">
                Argentina 🇦🇷
        </a>  
    </div>
</div>

<div class="row d-flex justify-content-center text-center explore-page">
    <div class="col-md-4 d-flex flex-column align-items-center justify-content-center text-center">
        <a class="btn explore-country-button" href="/learn/4">
                Mexico 🇲🇽
        </a>  
    </div>
    <div class="col-md-4 d-flex flex-column align-items-center justify-content-center text-center">
        <a class="btn explore-country-button" href="/learn/5">
                Puerto Rico 🇵🇷
        </a>  
    </div>
    <div class="col-md-4 d-flex flex-column align-items-center justify-content-center text-center">
        <a class="btn explore-country-button" href="/learn/6">
                El Salvador 🇸🇻
        </a>  
    </div>
</div>

<div class="row d-flex flex-column align-items-center justify-content-center text-center explore-page">
    <a class="btn explore-quiz-button" href="/quiz/1">
            Quiz me
    </a>  
</div>


{% endblock %}