{% extends "layout.html" %}
{% block content %}
<h1 class="country-title col-md-12">{{ item.country }}</h1>

<div class="col-md-12 container">
    <div class="col-md-6">
        <img class='country-image' src='{{ item.image }}' alt='Image relating to the country.'><br>
    </div>
    <div class="col-md-6 audio-container">
        <!-- You can add audio elements here if needed -->
    </div>
</div>

<div class="col-md-12 tips-container">
    <p tips-text>{{item.tips}}</p>
</div>

{% if item.countries_id == "6" %}
    <button class="next-button">
        <a href="{{item.next_country}}" class="year-text">Take Quiz</a>
    </button>
{% else %}
    <button class="next-button">
        <a href="{{item.next_country}}" class="year-text">Next</a>
    </button>
{% endif %}

<script src="{{ url_for('static', filename='/songs.js') }}"></script>
{% endblock %}
